
nav
  {background-color: #222;
  border-bottom: 2px dotted black;
  overflow: hidden;}
nav div div
  {text-decoration: none;
  width: 16.6%;
  text-align: center;
  float: left;
  font-weight: bold;
  color: #FFf;
  font-family: "Montserrat";
  transition: 1s}
nav div :hover
  {background-color: white;
  border-radius: 5vh;
  font-size: 25px;}
