body h1
  {font-size: 80px;
  font-family: 'Righteous', cursive;
  text-align: center;}
header
  {color: #fff;
  font-weight: bold;
  font-family: 'Cairo', sans-serif;
  text-align: center;
  width: 100%;
  height: 150px;
  background-color: #333;
  font-size: 40px;
  text-decoration: none}
nav
  {background-color: #222;
  border-bottom: 2px dotted black;
  font-family: 'Cairo', sans-serif;
  overflow: hidden;}
nav div div
  {width: 16.6%;
  text-align: center;
  float: left;}
abbr
  {text-decoration: none}
marquee
  {color: #555;}
article img
  {width: 100%;
  height: 100%;
  float: right;}
Body
  {float: right;
  height: 100%;
  width: 100%;
  background: -webkit-linear-gradient(#aaf, blue);
  font-family: 'Cairo', sans-serif;}
footer
  {color: #fff;
  font-family: 'Cairo', sans-serif;
  width: 100%;
  height: 125px;
  background-color: #333;
  padding: 3vw 3vh;
  letter-spacing: 1.2px}
.navButton
  {color: white;
  font-weight: bold;
  text-decoration: none;
  color: white}
.container
  {overflow: hidden;}
.center
  {text-align: center}
.alignPad
  {text-align: left;
  padding-left: 2%}
.Negrita
  {font-weight: bold;
  color: #499}
.left
  {text-align: left;
  list-style: none}
.container
  {overflow:hidden;}
.form
  {background-color: inherit;
  width: 100%;
  text-align: left;
  font-weight: bold;
  font-size: 3vw;
  color: #ccf;
  border-top: 1px dotted white;
  font-family: 'Cairo', sans-serif;}
.searchList
  {width: 20%;
  text-align: center;
  padding-left: 5%
  color: green;
  border-radius: 20px}
.Post_comment
  {background-color: #44c;
  width: 80%;
  text-align: left;
  font-weight: bold;
  font-size: 4vw;
  color: white;
  font-family: 'Cairo', sans-serif;
  border-radius: 30px}
.loginButton
  {background-color: blue;
  color: #fff;
  padding: #339;
  border-radius: 10px}
.center
  {text-align: center}
