header
  {color: #fff;
  font-weight: bold;
  font-family: 'Cairo', sans-serif;
  text-align: center;
  width: 100%;
  height: 150px;
  background-color: #333;}
abbr
  {text-decoration: none}
marquee
  {color: #555;}
Body
  {float: right;
  height: 100%;
  width: 100%;
  background: -webkit-linear-gradient(#449, #112);
  font-family: 'Cairo', sans-serif;}
footer
  {color: #fff;
  font-family: 'Cairo', sans-serif;
  width: 100%;
  height: 125px;
  background-color: #333;
  padding: 3vw 3vh;
  letter-spacing: 1.2px}
.white
  {color: white}
.center
  {text-align: center}
h2
  {font-size: 40px;
  font-family: 'Cairo', sans-serif;
  font-weight: bold;
  text-align: center;
  color: white}
.navButton
  {font-weight: bold;
  color: #499}
.left
  {text-align: left;
  list-style: none}
.container
  {overflow:hidden;}
.Feed
  {border: 1px solid black;
  width: 95%;
  background: -webkit-linear-gradient(#336, #116);
  color: #aaf;
  border-radius: 20px;
  padding-left: 2%}
.Question
  {background: -webkit-linear-gradient(#77d, blue);
  width: 88%;
  text-align: left;
  font-weight: bold;
  font-size: 3vw;
  color: white;
  font-family: 'Cairo', sans-serif;
  border-radius: 10px;}
.textarea
  {background: -webkit-linear-gradient(#eee, #777);
  width: 80%;
  text-align: left;
  font-size: 2vw;
  color: black;
  font-family: 'Cairo', sans-serif;
  border-radius: 8px;
  font-weight: bold}
.center
  {text-align: center}
.loginButton
  {background-color: blue;
  color: #fff;
  padding: #339;
  border-radius: 10px}
